:root{
    --font: rgb(238, 226, 226);
    --bg: #C2185B;
    --bg-hover: #9b093ed2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: url('bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text h1{
    position: absolute;
    top: 40%;
    font-size: 40px;
    letter-spacing: 5px;
    background-color: var(--bg);
    color: rgb(218, 208, 208);
    text-align: center;
    padding: 10px;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    width: 100%;
    background-color: var(--bg);
}

.logo{
    color: var(--font);
    font-size: 22px;
    font-weight:600;
    letter-spacing: 3px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    padding: 10px;
}
.logo:hover{
    background: var(--bg-hover);
}

.link ul{
    display: flex;
    justify-content: space-evenly;
    width: 600px;
}

.link li{
    list-style: none;
}

.link li a{
    color: var(--font);
    text-decoration: none;
    letter-spacing: 2px;
    transition:  0.5s;
    padding: 14px 5px;
}

.link li a:hover{
    background-color: var(--bg-hover);
}


/* Display only on a mobile view or small screen */
.burger{
    display: none;
    cursor: pointer;
    position: relative;
}

.burger div{
    height: 3px;
    width: 25px;
    background: rgba(39, 4, 4, 0.829);
    margin: 4px;
    transition: transform 0.2s ease-in;
}


/* Screen for tablet */
@media only screen and (max-width: 960px) {
    .link ul{
        width: 400px;
    }

    .text h1{
        font-size: 30px;
    }
}


/* Screen for mobile */
@media screen and (max-width: 700px){

    body{
        overflow-x: hidden;
    }

    .text h1{
        font-size: 25px;
    }

    .link{
        position: absolute;
        background-color: var(--bg);
        top: 8vh;
        right: 0px;
        height: 92vh;
        width: 50%;
        display: flex;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .link ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 92vh;
       
    }

    .burger{
        display: block;
    }

    .link li{
        opacity: 1;
    }
}
.nav_active{
    transform: translateX(0%);
}


/* This is for burger animation */
.toggle .b1{
    position: absolute;
    transform: rotate(45deg);
}

.toggle .b2{
    display: none;
}

.toggle .b3{
    transform: rotate(-45deg);

}